2_lekcia/Database Assistant for Class Project Analysis.json
{
  "name": "Database Assistant for Class Project Analysis",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful database assistant for a class project. You can query and analyze data from a SQL database containing wagon tracking data stored on Azure. When users ask about the database, use the Database Search Tool to search and retrieve information. Use the Calculator Tool for any mathematical operations needed. Always be clear and concise in your responses. You will communicate in English or Slovak languages."
        }
      },
      "id": "c7cdeeb2-55a4-4434-a93d-ad5a61b52bb1",
      "name": "Database Assistant Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        16
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "ad2954f3-f1d4-4338-9a60-c11567d723d3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "mkCCI2Xff2yD6NQv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to query the Azure SQL database containing wagon tracking data. You can search for specific wagons, retrieve tracking information, and analyze the data.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('sql_query', 'The SQL query to execute on the Azure SQL database containing wagon tracking data', 'string') }}"
      },
      "id": "f27009af-ae73-4de7-b6eb-7b46ab893531",
      "name": "Database Search Tool",
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        640,
        256
      ],
      "credentials": {
        "microsoftSql": {
          "id": "MAJo0NagJj3OEbaX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        288,
        16
      ],
      "id": "d58007da-8057-4b00-9c39-7e22a19ee466",
      "name": "On chat message",
      "webhookId": "64c19dd3-73ca-42c6-a630-f599eaff2f9f"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        224
      ],
      "id": "6d05adf8-f7d3-4bca-b6dc-59cfc5755e8e",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Database Assistant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Database Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Database Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On chat message": {
      "main": [
        [
          {
            "node": "Database Assistant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Database Assistant Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "f6447030-fc39-4e84-9925-f11582622445",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed7464066d9b3d889ab41c133010a372131b5b5237ea0279116a3d0ccfaa1366"
  },
  "id": "uG5be0D9RUjfyJAx",
  "tags": []
}